body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1100px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:620px;
  background:-webkit-linear-gradient(270deg, rgba(148, 128, 181, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(148, 128, 181, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(148, 128, 181, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#555555;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:620px;
  display:flex;
  font-size:20px;
  color:#555555;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:620px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:620px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(95, 42, 135, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:112px;
  width:905px;
  height:160px;
  display:flex;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(95, 42, 135, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:297px;
  width:905px;
  height:129px;
  display:flex;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:82px;
  width:100px;
  height:24px;
  display:flex;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:123px;
  width:135px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#555555;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:82px;
  width:85px;
  height:30px;
  display:flex;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:25px;
  color:#555555;
}
#u114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:124px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u115 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:152px;
  width:231px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u116 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:153px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:181px;
  width:318px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:182px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u119 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:210px;
  width:180px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u120 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:211px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u121 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:239px;
  width:412px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u122 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:85px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:536px;
  width:80px;
  height:85px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:85px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:536px;
  width:80px;
  height:85px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:45px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:17px;
  width:401px;
  height:54px;
  display:flex;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:45px;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:85px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:536px;
  width:80px;
  height:85px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:85px;
  width:45px;
  height:24px;
  display:flex;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u127 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:86px;
  width:82px;
  height:24px;
  display:flex;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:177px;
  width:99px;
  height:24px;
  display:flex;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:124px;
  width:47px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:240px;
  width:44px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:153px;
  width:54px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:182px;
  width:44px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:211px;
  width:54px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:240px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:323px;
  width:241px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:323px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:352px;
  width:180px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:352px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:381px;
  width:412px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:381px;
  width:126px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:347px;
  width:85px;
  height:24px;
  display:flex;
  font-family:'Laca-Medium', 'Laca Medium', 'Laca', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#555555;
}
#u142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:323px;
  width:54px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:352px;
  width:54px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:748px;
  top:381px;
  width:54px;
  height:19px;
  display:flex;
  font-family:'Laca-Light', 'Laca Light', 'Laca', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u145 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
